{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card card-primary">
        <div class="card-header">
          Listado de proveedores
        </div>
        <div class="card-body">
            <table id="miTabla" class="display compact" style="font-size: 13px;">
                {% if proveedores %}
              <thead>
                  <tr>
                      <th>Razón Social</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for proveedor in proveedores %}
                  <tr>
                      <td>{{proveedor.razon_social}}</td>
                      <td>
                        <a href="{% url 'economico:dato-proveedor-edit' proveedor.pk %}" class="btn btn-warning btn-xs btn-flat">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a href="{% url 'economico:dato-proveedor-delete' proveedor.pk %}" class="btn btn-danger btn-xs btn-flat">
                          <i class="fas fa-trash"></i>
                        </a>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
              {% else %}
            <h6>No se registraron proveedores</h6>
            {% endif %}
        </div>
      </div>
      <div class="card-footer">
        <a href="{% url 'economico:dato-proveedor-crear' %}" class="btn btn-primary btn-sm">
          <i class="fas fa-plus"></i> Nuevo Registro
        </a>
      </div>
</div>
{% endblock %}