{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card card-primaryrd">
        <div class="card-header">
          Sub-Rubros de Gastos
        </div>
        <div class="card-body">
            <table id="miTabla" class="display compact" style="font-size: 13px;">
                {% if object_list %}
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for subrubro in object_list %}
                  <tr>
                      <td>{{subrubro.nombre}}</td>
                      <td>
                          <a href="{% url 'economico:subrubro-gasto-edit' subrubro.pk %}" class="btn btn-warning btn-xs btn-flat">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="{% url 'economico:subrubro-gasto-delete' subrubro.pk %}" class="btn btn-danger btn-xs btn-flat">
                            <i class="fas fa-trash"></i>
                          </a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
              {% else %}
            <h6>No se registraron sub-rubros de gastos</h6>
            {% endif %}
        </div>
        <div class="card-footer">
          <a href="{% url 'economico:subrubro-gasto-crear' %}" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i> Nuevo rubro
          </a>
        </div>
      </div>
</div>
{% endblock %}